footer.container-fluid.row
    .col-lg-4.col-4
        .logo
            a(href="/")
                img(src="/assets/img/logo.png", alt="alt")
    .col-lg-5.col-5.link-box.row
        ul.nav
            li.nav-item.col-lg-5.col-5
                a(href="#").nav-link О КОМПАНИИ
                ul.nav
                    li.nav-item
                        a(href="#").link-small Новости
            li.nav-item.col-lg-5.col-5
                a(href="#").nav-link ДОСТАВКА
            li.nav-item.col-lg-5.col-5
                a(href="#").nav-link ОПЛАТА
                ul.nav
                    li.nav-item
                        a(href="#").link-small Способы оплаты
                    li.nav-item
                        a(href="#").link-small Обмен и возврат
            li.nav-item.col-lg-5.col-5
                a(href="#").nav-link КОНТАКТЫ
    .col-lg-3.col-3
        a.tel(href="tel:") 8 800 000 00 00
        a.mail(href="mailto:") specauto@mir.ru