@charset "UTF-8";
/* Inline таблица стилей #5 | https://localhost:8848/ */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  font-family: Roboto, sans-serif; }

.nav._header {
  height: 140px; }

body {
  background: #FFFFFF; }

.user .nav-link {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  padding-top: 10px !important; }

header .nav a.nav-link {
  padding: 0;
  margin-left: 23px; }

.nav._header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #2F2D29; }

a:hover {
  color: #4192D9; }

.logo {
  height: 90px; }
  .logo img {
    width: 100%;
    height: 100%;
    max-width: 300px; }

.nav._header {
  margin: auto;
  margin-top: 25px; }

.nav {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav._header {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.nav-item {
  margin-right: 10px; }

.tel._box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.btn._main {
  background: -webkit-gradient(linear, left top, left bottom, from(#4192D9), to(#157ABB));
  background: -webkit-linear-gradient(top, #4192D9 0%, #157ABB 100%);
  background: -o-linear-gradient(top, #4192D9 0%, #157ABB 100%);
  background: linear-gradient(180deg, #4192D9 0%, #157ABB 100%);
  -webkit-box-shadow: 0px 8px 24px rgba(188, 213, 235, 0.25), 0px 0px 8px rgba(188, 213, 235, 0.5);
  box-shadow: 0px 8px 24px rgba(188, 213, 235, 0.25), 0px 0px 8px rgba(188, 213, 235, 0.5);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  height: 40px;
  padding: 9px; }

.tel a {
  font-size: 24px;
  line-height: 28px;
  color: #2F2D29;
  font-weight: bold;
  margin-left: auto;
  margin-right: 15px;
  margin-bottom: 9px; }

.tel .btn._main {
  width: 90%;
  margin-right: auto;
  margin-top: 9px;
  position: relative;
  bottom: 0;
  margin-bottom: 0; }

.tel._box {
  width: 210px; }

.nav._footer {
  background: #E9E9E9;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

._box .box-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.nav._footer {
  -ms-flex-line-pack: center;
  align-content: center; }

#catalogMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: auto;
  padding-top: 7px; }

.form-control.mr-sm-2 {
  background: #FFFFFF;
  border: 1px solid #4192D9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 15vw;
  border-radius: 4px 0 0 4px;
  margin-right: 0 !important;
  height: 44px; }

.btn.btn-outline-success.my-2.my-sm-0 {
  background: -webkit-gradient(linear, left top, left bottom, from(#4192D9), to(#157ABB));
  background: -webkit-linear-gradient(top, #4192D9 0%, #157ABB 100%);
  background: -o-linear-gradient(top, #4192D9 0%, #157ABB 100%);
  background: linear-gradient(180deg, #4192D9 0%, #157ABB 100%);
  border-radius: 0px 4px 4px 0px;
  height: 44px;
  width: 44px;
  margin-left: -1px;
  border: none;
  color: #fff; }
  .btn.btn-outline-success.my-2.my-sm-0:focus {
    border: none;
    background-color: #fff;
    border-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none; }

input[placeholder], input:-moz-placeholder, input::-webkit-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: rgba(188, 213, 235, 0.5); }

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav-ico.user {
  margin: 0; }

.nav-ico img {
  height: 24px;
  width: 24px; }

/* .nav-link { */
.user img {
  width: 32px;
  height: 32px;
  margin-left: 8px; }

.cart ._box {
  width: 100%; }

.cart img._box {
  height: 32px;
  width: 32px; }

.cart {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  width: 163px;
  height: 80px;
  padding: 0 20px;
  border-left: 1px solid #4192D9;
  border-right: 1px solid #4192D9;
  margin-right: 40px; }
  .cart:hover {
    color: #2F2D29;
    text-decoration: none; }

._box .box-line {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.box-line p {
  margin: 0;
  margin-right: 10px; }

#catalogMenu .control._box {
  display: inline-block;
  cursor: pointer; }

#catalogMenu p {
  margin: 0;
  margin-top: 2px; }

#catalogMenu .bar1, #catalogMenu .bar2, #catalogMenu .bar3 {
  width: 24px;
  height: 1px;
  background-color: #fff;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  margin-right: 14px; }

#catalogMenu .bar1 {
  margin-top: 5px !important; }

#catalogMenu .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-2px, 5px);
  -ms-transform: rotate(-45deg) translate(-2px, 5px);
  transform: rotate(-45deg) translate(-2px, 5px); }

#catalogMenu .change .bar2 {
  opacity: 0; }

#catalogMenu .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -8px);
  -ms-transform: rotate(45deg) translate(-5px, -8px);
  transform: rotate(45deg) translate(-5px, -8px); }

.arrow {
  position: relative;
  cursor: pointer;
  margin-top: 0;
  width: 15px;
  height: 15px;
  margin: 0 16px 0 60px;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transition: all .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: all .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -o-transition: all .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: all .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: all .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; }

.arrow.open {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: 7px; }

.arrow-dropdown {
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  height: 15px;
  width: 15px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-left: auto;
  margin-right: 8px;
  margin-top: 5px; }
  .arrow-dropdown:hover {
    border-top: 1px solid #4192D9;
    border-right: 1px solid #4192D9; }

.catalog._box {
  position: relative;
  height: 100%; }

.dropdown-menu.show {
  width: 91.5vw;
  top: 60px !important;
  z-index: 1;
  border-radius: 0;
  padding: 0;
  margin: 0;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .dropdown-menu.show ._box {
    padding: 0;
    -webkit-box-shadow: 0px 8px 24px rgba(188, 213, 235, 0.5), 0px 0px 8px rgba(188, 213, 235, 0.5);
    box-shadow: 0px 8px 24px rgba(188, 213, 235, 0.5), 0px 0px 8px rgba(188, 213, 235, 0.5); }

#catalogMenu {
  position: relative;
  z-index: 10; }

._link {
  -webkit-box-shadow: 0px 8px 24px rgba(188, 213, 235, 0.5), 0px 0px 8px rgba(188, 213, 235, 0.5);
  box-shadow: 0px 8px 24px rgba(188, 213, 235, 0.5), 0px 0px 8px rgba(188, 213, 235, 0.5);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: 270px; }

.__item {
  border-bottom: 1px solid #E9E9E9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px; }
  .__item p {
    margin: 0;
    margin-left: 11px; }

._box-catalog {
  display: none;
  height: 100%;
  width: 100%;
  background: #F6F6F6;
  margin: 0; }
  ._box-catalog .col-lg-4.col-4 {
    border: 1px solid #E9E9E9;
    min-width: 338px;
    min-height: 345px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    vertical-align: middle; }
    ._box-catalog .col-lg-4.col-4 img {
      height: 113px;
      width: 113px;
      margin: auto;
      margin-bottom: 35px; }
    ._box-catalog .col-lg-4.col-4 a {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      letter-spacing: 0.012em;
      color: #2F2D29;
      margin: auto;
      margin-top: 0; }
      ._box-catalog .col-lg-4.col-4 a:hover {
        color: #4192D9;
        text-shadow: 0px 8px 24px rgba(188, 213, 235, 0.5), 0px 0px 8px rgba(188, 213, 235, 0.5); }
    ._box-catalog .col-lg-4.col-4 ul {
      margin: auto;
      margin-top: 0;
      min-height: 100px; }
      ._box-catalog .col-lg-4.col-4 ul li a {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #2F2D29; }
        ._box-catalog .col-lg-4.col-4 ul li a:hover {
          color: #4192D9;
          text-shadow: 0px 8px 24px rgba(188, 213, 235, 0.5), 0px 0px 8px rgba(188, 213, 235, 0.5); }

main {
  min-height: 90vh;
  background: #FFFFFF; }

footer {
  height: 380px;
  background: #F6F6F6;
  padding: 44px 65px !important;
  margin: 0 !important; }
  footer a.tel, footer a.mail {
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #2F2D29;
    width: 160px;
    display: block;
    float: right; }
  footer .nav {
    -webkit-box-align: normal;
    -ms-flex-align: normal;
    align-items: normal; }
  footer .nav-item {
    margin-right: 10px;
    width: 45%; }
  footer .nav-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #2F2D29;
    padding: 0;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start; }
    footer .nav-link:hover {
      color: #4192D9;
      text-decoration: underline; }
  footer .link-small {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: rgba(47, 45, 41, 0.5); }
    footer .link-small:hover {
      color: #4192D9; }

footer .nav-item .nav li.nav-item {
  width: 100%;
  margin-top: 17px; }

a.dropdown-item.__item:hover {
  color: #4192D9; }
  a.dropdown-item.__item:hover .arrow-dropdown {
    border-top: 1px solid #4192D9;
    border-right: 1px solid #4192D9; }

#breadcrumbs {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #2F2D29; }

#breadcrumbs a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #2F2D29; }

#breadcrumbs {
  padding: 18px 65px; }

#content {
  padding-left: 65px; }

ul.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

ul.sort li {
  list-style: none; }

ul.sort {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #2F2D29; }

ul.sort li a {
  font-size: 14px;
  line-height: 16px;
  margin-left: 32px; }

ul.sort {
  padding: 20px 30px; }

ul.tab-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

ul.tab-header li {
  list-style: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #2F2D29; }

ul.tab-header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end; }

.preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%; }

.preview .lore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.preview .ico {
  height: 85px; }

.preview .lore ._title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.012em;
  color: #2F2D29; }

.preview .lore ._category {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.012em;
  color: #4192D9; }

.preview .lore ._title {
  padding: 10px;
  padding-top: 0; }

.preview .lore ._category {
  padding-left: 10px; }

.row-storage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

ul.tab-header {
  padding-right: 0;
  margin-right: 0; }

.content {
  padding-right: 0;
  margin-right: 0; }

.row-storage {
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 67%;
  margin-left: auto; }

.product._box {
  padding-right: 0;
  margin-right: 0;
  width: 99%;
  padding: 10px 40px;
  padding-left: 15px;
  background: #FFFFFF;
  border: 0.5px solid #E9E9E9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 8px; }

.row-storage .status.true {
  border-left: 16px solid #65C543;
  padding: 10px 0;
  padding-left: 4px;
  height: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #2F2D29; }

.row-storage {
  height: 56px; }

li._item:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

._category > p:nth-child(1) {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.012em;
  color: #4192D9;
  word-wrap: normal;
  width: 100%; }

.color {
  width: 16px;
  height: 56px;
  background: #65C543;
  margin-right: 4px; }

.status {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #2F2D29; }

.product._box p {
  margin: 0; }

.storage {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #2F2D29; }

.data img {
  width: 18px;
  height: 18px;
  margin-right: 4px; }

.data {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #2F2D29;
  margin-left: -10px; }

.data p {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-align: right; }

.price {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #2F2D29; }

.quantity {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.012em;
  color: #2F2D29;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.quantity input._quantity {
  width: 24px;
  height: 24px; }

._btn._max, ._btn._min {
  width: 24px;
  height: 24px;
  display: block;
  text-align: center;
  cursor: pointer; }

.basket {
  background: #FFFFFF;
  border: 1px solid #4192D9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  width: 60px;
  height: 44px; }

.status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

li._item:nth-child(5) {
  margin-right: 21%; }

.tab-header .color {
  background: none; }

.row-storage {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.product._box.row.tab-header {
  background: #FFFFFF;
  border-radius: 4px;
  border: none; }
  .product._box.row.tab-header .preview {
    height: 0; }

.product._box.row.tab-header p {
  text-align: left; }

.color.false {
  background: #FF7272; }

.collapse-linck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  padding: 10px 24px;
  border-bottom: 1px solid #E9E9E9; }
  .collapse-linck:not([href]) {
    color: #2F2D29;
    cursor: pointer; }
  .collapse-linck:not([href]):hover {
    color: #4192D9; }
    .collapse-linck:not([href]):hover .arrow-dropdown {
      border-top: 1px solid #4192D9;
      border-right: 1px solid #4192D9; }
  .collapse-linck .arrow-dropdown {
    margin: 0;
    margin-left: auto;
    margin-right: 10px; }

.collapse {
  padding: 10px 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #2F2D29; }

#price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }
  #price input[type="text"] {
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    width: 84px;
    height: 40px; }
  #price .rel {
    width: 90%; }
    #price .rel input.multirange.original.switched {
      width: 90%; }

.row-btn {
  margin: 24px 0; }

button.btn._main {
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px; }

button.btn._main.__empty {
  background: #FFFFFF;
  border: 1px solid #4192D9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  color: #4192D9; }

.list.col-lg-12.row {
  margin-left: 15px; }

.filter {
  -webkit-box-shadow: 0px 0px 8px rgba(188, 213, 235, 0.5), 0px 0px 8px rgba(188, 213, 235, 0.5);
  box-shadow: 0px 0px 8px rgba(188, 213, 235, 0.5), 0px 0px 8px rgba(188, 213, 235, 0.5);
  border-radius: 4px 4px 0px 0px;
  padding: 0; }
  .filter .my-p {
    padding: 10px 25px; }
  .filter .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .filter .search input[type="search"] {
      background: #FFFFFF;
      border: 1px solid #E9E9E9;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 4px;
      width: 246px;
      height: 40px;
      margin: 10px 0; }
  .filter ._title {
    border-bottom: 1px solid #E9E9E9; }
    .filter ._title h4 {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      color: #2F2D29;
      text-align: center;
      padding: 20px 0; }
  .filter .item.row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .filter .item.row img.item-ico {
      height: 12px; }
    .filter .item.row label p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.012em;
      color: #2F2D29; }
  .filter .item.row.have {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    padding-left: 15px; }

div#volume {
  overflow-y: scroll;
  overscroll-behavior-inline: none;
  width: 100%;
  height: 220px; }
  div#volume::-webkit-scrollbar-track {
    -webkit-box-shadow: #4192D9;
    border-radius: 8px;
    border: 1px solid #4192D9;
    background-color: #FFFFFF; }
  div#volume::-webkit-scrollbar {
    width: 12px;
    background-color: #FFFFFF; }
  div#volume::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 1px solid #4192D9;
    -webkit-box-shadow: #4192D9;
    background-color: #4192D9; }

.btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.pagination {
  margin: 30px 0;
  margin-top: 15px; }
  .pagination ._title {
    margin-right: 15px;
    margin-left: 15px; }
  .pagination div {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .pagination p {
    margin: 0; }
  .pagination a.btn._main {
    color: #2F2D29;
    background: #FFFFFF;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .pagination a.btn._main.active {
    background: #4192D9;
    color: #FFFFFF; }

#product section .front-img {
  width: 407px;
  height: 400px;
  margin: auto; }

#product section .min-img {
  width: 124px;
  height: 116px;
  margin: auto; }

#breadcrumbs {
  margin: 18px 0; }

#cart {
  padding: 0 65px; }
  #cart p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #2F2D29;
    margin: 0; }
  #cart .total {
    margin: 24px 0; }
    #cart .total p {
      margin-left: auto; }
      #cart .total p span {
        margin-left: 17px; }
  #cart .btn-row button {
    margin: 0 20px 0 0;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    width: 100%; }
  #cart .cart-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #2F2D29;
    margin: 24px 0; }
  #cart .row-sort-hader {
    background: #FFFFFF;
    border: 0.5px solid #E9E9E9;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    text-align: left;
    padding: 9px 0; }
    #cart .row-sort-hader .total-price {
      padding-right: 60px; }
  #cart .product-item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #FFFFFF;
    border: 0.5px solid #E9E9E9;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 8px; }
    #cart .product-item .delete {
      margin-left: 26px;
      margin-right: 18px;
      cursor: pointer; }
  #cart .checkbox-and-nomber {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline; }
    #cart .checkbox-and-nomber p {
      margin-left: 16px; }
  #cart .preview img {
    height: 85px; }
  #cart .preview .preview_title {
    padding: 13px 0 13px 13px; }
    #cart .preview .preview_title a {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.012em;
      color: #4192D9; }
  #cart .preview.no-gutters {
    padding: 0; }
  #cart .data .storage {
    display: none; }
  #cart .data p {
    max-width: 100px; }
  #cart .__border {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 0.5px solid rgba(188, 213, 235, 0.5); }
  #cart .recommended {
    background: #FFFFFF;
    border: 0.5px solid #E5E5E5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 21px; }
    #cart .recommended h2 {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 24px;
      color: #2F2D29; }
    #cart .recommended .product-item {
      padding-right: 8px;
      padding-bottom: 8px;
      border: 0.5px solid #E9E9E9;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 4px; }
    #cart .recommended .preview {
      width: auto;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      #cart .recommended .preview img {
        height: 30px; }
      #cart .recommended .preview .preview_title a {
        font-size: 12px;
        line-height: 14px;
        color: #2F2D29; }
      #cart .recommended .preview .article p {
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.012em;
        color: #2F2D29; }
    #cart .recommended .price {
      margin-right: 8px; }
      #cart .recommended .price p {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #4192D9; }
    #cart .recommended .basket {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: auto;
      padding: 1px 8px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 88px;
      height: 40px;
      cursor: pointer; }
      #cart .recommended .basket p {
        font-size: 10px;
        line-height: 12px;
        color: #4192D9; }
    #cart .recommended .quantity {
      margin-right: 8px;
      margin-left: auto; }

#order {
  padding: 0 65px; }
  #order p {
    margin: 0; }
  #order .line-2, #order .line-3 {
    margin-top: 44px; }
  #order .line-4, #order .line-5, #order .line-6, #order .line-7, #order .line-8 {
    margin-top: 24px; }
  #order .box-ordre {
    border: 1px solid #E9E9E9;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 1100px;
    padding-top: 33px; }
  #order input {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.012em;
    color: #2F2D29; }
    #order input::-webkit-input-placeholder {
      font-family: Roboto;
      font-style: normal;
      font-weight: 200;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.012em;
      color: #2F2D29; }
    #order input:-ms-input-placeholder {
      font-family: Roboto;
      font-style: normal;
      font-weight: 200;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.012em;
      color: #2F2D29; }
    #order input::-ms-input-placeholder {
      font-family: Roboto;
      font-style: normal;
      font-weight: 200;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.012em;
      color: #2F2D29; }
    #order input::placeholder {
      font-family: Roboto;
      font-style: normal;
      font-weight: 200;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.012em;
      color: #2F2D29; }
  #order button.btn._main {
    max-width: 293px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: auto; }
  #order button.btn._main._empty {
    background: #FFFFFF;
    border: 1px solid #4192D9;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    color: #4192D9; }
  #order .order_items {
    width: 100%; }
    #order .order_items p, #order .order_items label {
      text-align: right;
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.012em;
      color: #2F2D29; }
    #order .order_items .data input {
      padding: 10px 0;
      margin-right: 44px;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.012em;
      color: #4192D9;
      background: #FFFFFF;
      text-align: center;
      border: 1px solid #E9E9E9;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin-left: 10px;
      width: 113px; }
    #order .order_items .data p {
      margin-right: 24px; }
    #order .order_items .data select {
      background: #FFFFFF;
      border: 1px solid #E9E9E9;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    #order .order_items textarea, #order .order_items input {
      padding: 11px;
      border: 1px solid #E9E9E9;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      min-height: 44px; }
  #order .line-3 {
    width: auto;
    padding-left: 120px; }
  #order .order-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #2F2D29;
    margin: 24px 0; }
  #order .radio input[type="radio"] {
    position: absolute;
    opacity: 0; }
    #order .radio input[type="radio"] + .radio-label:before {
      content: '';
      background: #FFFFFF;
      border-radius: 100%;
      border: 2px solid #4192D9;
      display: inline-block;
      width: 20px;
      height: 20px;
      position: relative;
      top: 0;
      margin-right: 1em;
      vertical-align: top;
      cursor: pointer;
      text-align: center;
      -webkit-transition: all 250ms ease;
      -o-transition: all 250ms ease;
      transition: all 250ms ease; }
    #order .radio input[type="radio"]:checked + .radio-label:before {
      background-color: #4192D9;
      -webkit-box-shadow: inset 0 0 0 4px #FFFFFF;
      box-shadow: inset 0 0 0 4px #FFFFFF; }
    #order .radio input[type="radio"]:focus + .radio-label:before {
      outline: none;
      border-color: #4192D9; }
    #order .radio input[type="radio"]:disabled + .radio-label:before {
      -webkit-box-shadow: inset 0 0 0 4px #FFFFFF;
      box-shadow: inset 0 0 0 4px #FFFFFF;
      border-color: #bfbfbf;
      background: #bfbfbf; }
    #order .radio input[type="radio"] + .radio-label:empty:before {
      margin-right: 0; }

.personal a.ur {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #4192D9;
  display: block;
  width: 100%;
  margin-bottom: 30px; }

.personal .title {
  margin-bottom: 80px; }
  .personal .title a {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#4192D9), to(#157ABB));
    background: -webkit-linear-gradient(top, #4192D9 0%, #157ABB 100%);
    background: -o-linear-gradient(top, #4192D9 0%, #157ABB 100%);
    background: linear-gradient(180deg, #4192D9 0%, #157ABB 100%);
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    line-height: 21px;
    padding: 10px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .personal .title ._empty {
    background: #FFFFFF;
    border: 1px solid #4192D9;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #4192D9; }

.personal .btn._main._empty {
  margin-right: 45px; }

.personal h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.012em;
  color: #2F2D29;
  margin-top: 60px; }

.personal .box-radio {
  padding-left: 10px; }

.personal .order_items {
  margin-top: 25px; }

.personal .radio {
  margin-bottom: 15px; }

.personal .pen {
  display: none;
  position: absolute;
  top: 0;
  right: 20px; }

.personal input, .personal textarea {
  border: none !important;
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.012em; }
  .personal input:focus, .personal input .pen, .personal textarea:focus, .personal textarea .pen {
    outline: none;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 4px 4px #F6F6F6;
    box-shadow: 0px 4px 4px #F6F6F6; }
  .personal input:focus + .pen, .personal textarea:focus + .pen {
    display: block; }

.p-lg-0 {
  padding: 0; }

.frame-auth {
  display: none;
  position: absolute;
  z-index: 5000;
  width: 407px;
  min-height: 408px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 8px rgba(188, 213, 235, 0.5), 0px 8px 24px rgba(188, 213, 235, 0.5);
  box-shadow: 0px 0px 8px rgba(188, 213, 235, 0.5), 0px 8px 24px rgba(188, 213, 235, 0.5);
  border-radius: 4px;
  right: 65px; }
  .frame-auth .register, .frame-auth .registor.ur {
    display: none; }
    .frame-auth .register button, .frame-auth .registor.ur button {
      min-width: 144px;
      margin-left: 27px; }
    .frame-auth .register .info p, .frame-auth .registor.ur .info p {
      margin: 0;
      margin-top: 18px;
      width: 340px;
      padding-left: 27px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      letter-spacing: 0.012em;
      color: #000000; }
    .frame-auth .register .box.reg button, .frame-auth .registor.ur .box.reg button {
      width: 234px !important;
      margin: 0; }
    .frame-auth .register .box.checkbox label, .frame-auth .registor.ur .box.checkbox label {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 250px; }
      .frame-auth .register .box.checkbox label p, .frame-auth .registor.ur .box.checkbox label p {
        margin: 0; }
      .frame-auth .register .box.checkbox label:hover, .frame-auth .registor.ur .box.checkbox label:hover {
        text-decoration: none; }
      .frame-auth .register .box.checkbox label span, .frame-auth .registor.ur .box.checkbox label span {
        padding-left: 5px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.012em;
        color: #4192D9; }
        .frame-auth .register .box.checkbox label span:hover, .frame-auth .registor.ur .box.checkbox label span:hover {
          text-decoration: underline;
          cursor: pointer; }
  .frame-auth .login {
    display: block; }
  .frame-auth .registor.ur {
    display: none; }
  .frame-auth .error {
    padding-left: 27px;
    color: #FF7272;
    padding-top: 10px;
    opacity: 0;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease; }
    .frame-auth .error p {
      margin: 0; }
  .frame-auth h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    color: #2F2D29;
    padding: 26px 27px;
    padding-bottom: 0;
    margin-bottom: -10px; }
  .frame-auth button {
    width: 100px !important; }
  .frame-auth form {
    padding: 27px; }
    .frame-auth form label {
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      color: #2F2D29;
      width: 100%; }
    .frame-auth form input, .frame-auth form textarea {
      border: none !important;
      position: relative;
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.012em;
      width: 267px;
      height: 40px;
      background: #FCFCFC;
      padding-left: 10px; }
      .frame-auth form input::-webkit-input-placeholder, .frame-auth form textarea::-webkit-input-placeholder {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #C4C4C4; }
      .frame-auth form input:-ms-input-placeholder, .frame-auth form textarea:-ms-input-placeholder {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #C4C4C4; }
      .frame-auth form input::-ms-input-placeholder, .frame-auth form textarea::-ms-input-placeholder {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #C4C4C4; }
      .frame-auth form input::placeholder, .frame-auth form textarea::placeholder {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #C4C4C4; }
      .frame-auth form input:focus, .frame-auth form input .pen, .frame-auth form textarea:focus, .frame-auth form textarea .pen {
        outline: none;
        background: #FCFCFC;
        -webkit-box-shadow: 0px 4px 4px #F6F6F6;
        box-shadow: 0px 4px 4px #F6F6F6; }
      .frame-auth form input:focus + .pen, .frame-auth form textarea:focus + .pen {
        display: block; }
    .frame-auth form .box {
      margin-bottom: 24px; }
      .frame-auth form .box a {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: #2F2D29;
        padding-left: 18px;
        width: 0; }
    .frame-auth form .checkbox label {
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      color: #2F2D29;
      margin: 0;
      padding-left: 18px; }
    .frame-auth form .checkbox input {
      width: 14px;
      height: 14px;
      background: #FFFFFF;
      border: 1px solid #C4C4C4;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    .frame-auth form .box.login a {
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      color: #4192D9; }

@media only screen and (max-width: 760px) {
  .p-lg-0 {
    padding: initial; }
  .personal {
    padding: 15px !important; }
    .personal button.btn._main {
      padding: 8px 41px;
      height: 44px;
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      width: 160px; }
    .personal .title a, .personal .title button.btn._main {
      padding: 8px 41px;
      height: 44px;
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      width: 160px; }
    .personal h5 {
      font-weight: 300;
      font-size: 14px;
      line-height: 14px; }
    .personal p {
      font-weight: 300;
      font-size: 10px !important;
      line-height: 12px !important; }
    .personal .radio {
      margin-bottom: 10px; }
  #order {
    padding: 0 15px;
    padding-right: 0; }
    #order h1 {
      font-size: 18px !important;
      line-height: 21px !important; }
    #order textarea {
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.012em;
      padding: 13px !important; }
    #order input {
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.012em;
      padding: 13px !important; }
      #order input::-webkit-input-placeholder {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.012em; }
      #order input:-ms-input-placeholder {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.012em; }
      #order input::-ms-input-placeholder {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.012em; }
      #order input::placeholder {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.012em; }
    #order .order_items {
      width: 100%;
      padding: 0;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      #order .order_items .data input {
        padding: 13px 10px;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.012em; }
      #order .order_items .col-8 {
        padding-right: 0; }
      #order .order_items p {
        text-align: right;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px; }
    #order .line-3 {
      padding: 0;
      padding-left: 15px; }
    #order .box-ordre {
      border: none; }
    #order .p-sm-0 {
      padding: 0; }
    #order p {
      text-align: right;
      font-weight: 300;
      font-size: 12px;
      line-height: 14px; }
    #order .radio label {
      font-size: 12px;
      line-height: 14px; }
  #breadcrumbs {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    margin-top: 18px; }
    #breadcrumbs a {
      font-size: 12px;
      line-height: 18px; }
  #cart {
    padding: 0 16px; }
    #cart .cart-title {
      font-size: 18px;
      line-height: 21px;
      margin: 18px 0; }
    #cart .row-sort-hader p {
      font-size: 8px;
      line-height: 9px; }
    #cart .row-sort-hader .number {
      display: none; }
    #cart .row-sort-hader .preview {
      display: none; }
    #cart .row-sort-hader .storage {
      display: none; }
    #cart .price {
      display: none; }
    #cart .checkbox-and-nomber {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 10px; }
      #cart .checkbox-and-nomber input {
        width: 18px;
        height: 18px; }
    #cart .preview {
      width: auto;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      #cart .preview img {
        display: none; }
      #cart .preview .preview_title a {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.012em; }
    #cart p {
      font-weight: 300;
      font-size: 9px;
      line-height: 11px; }
    #cart .storage {
      display: none; }
    #cart .data .storage {
      display: block; }
    #cart .data p {
      text-align: left;
      max-width: 60px; }
    #cart .btn-row {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      #cart .btn-row button {
        height: 44px;
        padding: 8px 22px;
        margin-right: 4px;
        margin-bottom: 8px;
        width: 160px;
        font-size: 12px;
        line-height: 14px;
        text-align: center; }
    #cart .recommended {
      margin-top: 25px; }
      #cart .recommended .product-item:hover, #cart .recommended .product-item:focus {
        background: #FFFFFF;
        border: 0.5px solid #E9E9E9;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-shadow: 0px 8px 24px rgba(188, 213, 235, 0.5), 0px 0px 8px rgba(188, 213, 235, 0.5);
        box-shadow: 0px 8px 24px rgba(188, 213, 235, 0.5), 0px 0px 8px rgba(188, 213, 235, 0.5);
        border-radius: 4px; }
      #cart .recommended .preview {
        width: auto;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        #cart .recommended .preview .preview_title {
          padding-top: 11px; }
        #cart .recommended .preview img {
          padding-top: 19px;
          display: block;
          height: 60px; }
      #cart .recommended .price {
        display: block; } }

#user-info span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #user-info span p {
    margin: 0;
    margin-left: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #2F2D29; }

#user-info .contract {
  padding: 13px 30px; }

#user-info .line__user-info_centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

#user-info .line__user-info {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding: 13px 0; }
  #user-info .line__user-info > span:nth-child(1) {
    margin-left: -40px; }
  #user-info .line__user-info > span:last-child {
    margin-right: 20px; }

#front {
  padding: 0 35px; }
  #front section.brand {
    margin-bottom: 60px; }
    #front section.brand h2 {
      margin-top: 50px;
      margin-bottom: 44px; }
  #front section.news .news_card:hover {
    text-decoration: none; }
  #front section.news h2 {
    margin-bottom: 44px; }
  #front section.news p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #2F2D29; }
  #front section.news .date p {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #4192D9; }
  #front section.news h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #2F2D29;
    margin-left: 44px;
    text-decoration: underline; }
  #front section.discounts h2 {
    margin-bottom: 44px; }
  #front .small_card {
    background: #FFFFFF;
    border: 0.5px solid #F6F6F6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 18px 35px;
    filter: drop-shadow(0px 0px 8px rgba(188, 213, 235, 0.5));
    -webkit-filter: drop-shadow(0px 0px 8px rgba(188, 213, 235, 0.5));
    margin-bottom: 44px; }
    #front .small_card img {
      width: 100%; }
    #front .small_card .small_card_title {
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
      color: #2F2D29; }
    #front .small_card p {
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.012em;
      color: #2F2D29; }
    #front .small_card .small_card_price p {
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 28px;
      color: #2F2D29; }
  #front section.popular {
    margin-top: 44px; }
    #front section.popular h2 {
      margin-bottom: 33px; }
    #front section.popular .front_card._main {
      display: block; }
      #front section.popular .front_card._main h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: #4192D9;
        margin-bottom: 35px; }
    #front section.popular .front_card {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin-bottom: 44px; }
    #front section.popular h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      color: #4192D9; }
  #front h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #2F2D29; }
  #front .slider-title {
    margin-top: 44px;
    margin-bottom: 25px; }
  #front .slide_group {
    margin-left: auto; }
    #front .slide_group button {
      background: #4192D9;
      border-radius: 4px;
      border: none;
      color: #FFFFFF;
      padding: 10px 15px;
      height: 40px;
      width: 40px;
      padding: 0;
      margin-left: 18px; }
      #front .slide_group button svg {
        margin-top: -5px; }
  #front .slider {
    background: url("/assets/img/banner_1.png");
    background-size: cover;
    height: 480px;
    width: 100%; }
    #front .slider h2 {
      font-size: 99px;
      padding: 50px 75px;
      text-transform: uppercase;
      font-weight: bold;
      color: #fff;
      display: none; }
    #front .slider button {
      position: absolute;
      bottom: 81px;
      left: 84px;
      background: #FFFFFF;
      border-radius: 4px;
      overflow: hidden;
      border: none;
      padding: 9px 22px;
      color: #4192D9;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px; }

@media only screen and (max-width: 360px) {
  #front {
    padding: 0; }
  #front .slider-title {
    display: none; }
  .slider_box {
    margin-left: -15px;
    margin-right: -15px; }
  #user-info {
    display: none; }
  .popular {
    display: none; }
  #front .slide_group {
    display: none; }
  #front section.brand {
    display: none; }
  #front section.news {
    display: none; }
  ul.nav {
    display: none; }
  .nav._footer .catalog._box {
    width: 200px; }
  .logo {
    width: 121px;
    height: 36px; }
  .tel .btn._main {
    background: -webkit-gradient(linear, left top, left bottom, from(#4192D9), to(#157ABB));
    background: -webkit-linear-gradient(top, #4192D9 0%, #157ABB 100%);
    background: -o-linear-gradient(top, #4192D9 0%, #157ABB 100%);
    background: linear-gradient(180deg, #4192D9 0%, #157ABB 100%);
    border-radius: 4px;
    width: 44px;
    height: 44px; } }
