
/* Inline таблица стилей #5 | https://localhost:8848/ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$dop: #FFFFFF;
$main: #4192D9;

html{
  font-family: Roboto, sans-serif;
}
.nav._header {
  height: 140px;
}

body {
  background: #FFFFFF;
}
.user .nav-link {
  flex-direction: row;
  align-items: baseline;
  padding-top: 10px !important;
}
header .nav a.nav-link{
  padding: 0;
  margin-left: 23px;
}
.nav._header {
  display: flex;
}

a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #2F2D29;
}

a:hover {
  color: #4192D9;
}

.logo {
  height: 90px;
  img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    }
}

.nav._header {
  margin: auto;
  margin-top: 25px;
}

.nav {
  align-items: center;
}

.nav._header {
  justify-content: space-around;
}

.nav-item {
  margin-right: 10px;
}

.tel._box {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.btn._main {
  background: linear-gradient(180deg, #4192D9 0%, #157ABB 100%);
  box-shadow: 0px 8px 24px rgba(188, 213, 235, 0.25), 0px 0px 8px rgba(188, 213, 235, 0.5);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  height: 40px;
  padding: 9px;
}

.tel {
    a {
        font-size: 24px;
        line-height: 28px;
        color: #2F2D29;
        font-weight: bold;
        margin-left: auto;
        margin-right: 15px;
        margin-bottom: 9px;
    }
}

.tel .btn._main {
  width: 90%;
  margin-right: auto;
  margin-top: 9px;
  position: relative;
  bottom: 0;
  margin-bottom: 0;
}

.tel._box {
  width: 210px;
}

.nav._footer {
  background: #E9E9E9;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.cart {
  display: flex;
}

._box .box-line {
  display: flex;
}

.nav._footer {
  align-content: center;
}

#catalogMenu {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 7px;
}

.form-control.mr-sm-2 {
  background: #FFFFFF;
  border: 1px solid #4192D9;
  box-sizing: border-box;
  width: 15vw;
  border-radius: 4px 0 0 4px;
  margin-right: 0 !important;
  height: 44px;
}

.btn.btn-outline-success.my-2.my-sm-0 {
  background: linear-gradient(180deg, #4192D9 0%, #157ABB 100%);
  border-radius: 0px 4px 4px 0px;
  height: 44px;
  width: 44px;
  margin-left: -1px;
  border: none;
  color: #fff;
  &:hover{

  }
  &:focus{
        border:none;
        background-color: #fff;
        border-color: #fff;
        box-shadow: none;
  }
}


input[placeholder], input:-moz-placeholder, input::-webkit-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: rgba(188, 213, 235, 0.5);
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.nav-ico.user {
  margin: 0;
}

.nav-ico img {
  height: 24px;
  width: 24px;
}

/* .nav-link { */

.user img {
  width: 32px;
  height: 32px;
  margin-left: 8px;
}

.cart ._box {
  width: 100%;
}

.cart img._box {
  height: 32px;
  width: 32px;
}

.cart {
  &:hover{
    color: #2F2D29;
    text-decoration: none;
  }
  align-items: center;
  align-content: center;
  width: 163px;
  height: 80px;
  padding: 0 20px;
  border-left: 1px solid #4192D9;
  border-right: 1px solid #4192D9;
  margin-right: 40px;
}

._box .box-line {
  align-items: center;
  align-content: center;
}

.box-line p {
  margin: 0;
  margin-right: 10px;
}
//Menu
#catalogMenu{
    .control._box {
        display: inline-block;
        cursor: pointer;
    }

    p {
        margin: 0;
        margin-top: 2px;
    }

    .bar1, .bar2, .bar3 {
        width: 24px;
        height: 1px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
        margin-right: 14px;
    }

    .bar1 {
        margin-top: 5px !important;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-2px, 5px);
        transform: rotate(-45deg) translate(-2px, 5px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-5px, -8px);
        transform: rotate(45deg) translate(-5px, -8px);
    }
}
//

// arrow
.arrow {
  position: relative;
  cursor: pointer;
  margin-top: 0;
  width: 15px;
  height: 15px;
  margin: 0 16px 0 60px;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  transform: rotate(135deg);
  transition: all .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.arrow.open{
  transform: rotate(-45deg);
  margin-top: 7px;
}
.arrow-dropdown {
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  height: 15px;
  width: 15px;
  transform: rotate(45deg);
  margin-left: auto;
  margin-right: 8px;
  margin-top: 5px;
  &:hover{
    border-top: 1px solid #4192D9;
    border-right: 1px solid #4192D9;
  }
}
//

.catalog._box {
    position: relative;
    height: 100%;
}

.dropdown-menu.show {
  width: 91.5vw;
  top: 60px !important;
  z-index: 1;
  border-radius: 0;
  padding: 0;
  margin: 0;
  margin-left: 0;
  display: flex;
  ._box {
    padding: 0;
    box-shadow: 0px 8px 24px rgba(188, 213, 235, 0.5), 0px 0px 8px rgba(188, 213, 235, 0.5);
  }
}

#catalogMenu {
  position: relative;
  z-index: 10;
}

._link{
    box-shadow: 0px 8px 24px rgba(188, 213, 235, 0.5), 0px 0px 8px rgba(188, 213, 235, 0.5);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: 270px;
  }
.__item{
    border-bottom: 1px solid #E9E9E9;
    display: flex;
    padding: 15px;
    p {
        margin: 0;
        margin-left: 11px;
    }
}
._box-catalog{
  display: none;
  height: 100%;
  width: 100%;
  background: #F6F6F6;
  margin: 0;
  .col-lg-4.col-4{
    border: 1px solid #E9E9E9;
    min-width: 338px;
    min-height: 345px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    img{
      height: 113px;
      width: 113px;
      margin: auto;
      margin-bottom: 35px;
    }
    a{
      &:hover{
        color: #4192D9;
        text-shadow: 0px 8px 24px rgba(188, 213, 235, 0.5), 0px 0px 8px rgba(188, 213, 235, 0.5);
      }
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.012em;
        color: #2F2D29;
        margin: auto;
        margin-top: 0;
    }
    ul{
      margin: auto;
      margin-top: 0;
      min-height: 100px;
      li{
        a{
          &:hover{
            color: #4192D9;
            text-shadow: 0px 8px 24px rgba(188, 213, 235, 0.5), 0px 0px 8px rgba(188, 213, 235, 0.5);
          }
          font-family: Roboto;
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 16px;
          color: #2F2D29;
        }
      }
    }
  }
}

main{
  min-height: 90vh;
  background: #FFFFFF;
}
footer{
  height: 380px;
  background: #F6F6F6;
  padding: 44px 65px !important;
  margin: 0 !important;
  a.tel, a.mail {
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #2F2D29;
    width: 160px;
    display: block;
    float: right;
  }
  .nav{
    align-items: normal;
  }
  .nav-item {
    margin-right: 10px;
    width: 45%;
  }
  .link-box{

  }
  .nav-link{
    &:hover{
      color: #4192D9;
      text-decoration: underline;
    }
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #2F2D29;
    padding: 0;
    align-items: start;
  }
  .link-small{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: rgba(47, 45, 41, 0.5);
    &:hover{
      color: #4192D9;
    }
  }
}
footer .nav-item .nav li.nav-item {
  width: 100%;
  margin-top: 17px;
}
a.dropdown-item.__item:hover {
    color: #4192D9;
    .arrow-dropdown{
      border-top: 1px solid #4192D9;
      border-right: 1px solid #4192D9;
    }
}

// Inline таблица стилей #4 

#breadcrumbs {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #2F2D29;
}

#breadcrumbs a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #2F2D29;
}

#breadcrumbs {
  padding: 18px 65px;
}

#content {
  padding-left: 65px;
}

ul.sort {
  display: flex;
}

ul.sort li {
  list-style: none;
}

ul.sort {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #2F2D29;
}

ul.sort li a {
  font-size: 14px;
  line-height: 16px;
  margin-left: 32px;
}

ul.sort {
  padding: 20px 30px;
}

ul.tab-header {
  display: flex;
}

ul.tab-header li {
  list-style: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #2F2D29;
}

ul.tab-header {
  align-items: center;
  justify-content: end;
}

.preview {
  display: flex;
  width: 33%;
}

.preview .lore {
  display: flex;
  flex-direction: column;
}

.preview .ico {
  // width: 85px;
  height: 85px;
}

.preview .lore ._title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.012em;
  color: #2F2D29;
}

.preview .lore ._category {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.012em;
  color: #4192D9;
}

.preview .lore ._title {
  padding: 10px;
  padding-top: 0;
}

.preview .lore ._category {
  padding-left: 10px;
}

.row-storage {
  display: flex;
}

ul.tab-header {
  padding-right: 0;
  margin-right: 0;
}

.content {
  padding-right: 0;
  margin-right: 0;
}

.row-storage {
  height: 100%;
  align-items: center;
  width: 67%;
  margin-left: auto;
}

.product._box {
  padding-right: 0;
  margin-right: 0;
  width: 99%;
  padding: 10px 40px;
  padding-left: 15px;
  background: #FFFFFF;
  border: 0.5px solid #E9E9E9;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 8px;
}

.row-storage .status.true {
  border-left: 16px solid #65C543;
  padding: 10px 0;
  padding-left: 4px;
  height: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #2F2D29;
}

.row-storage {
  height: 56px;
}

li._item:nth-child(1) {
  display: flex;
}

._category > p:nth-child(1) {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.012em;
  color: #4192D9;
  word-wrap: normal;
  width: 100%;
}

.color {
  width: 16px;
  height: 56px;
  background: #65C543;
  margin-right: 4px;
}

.status {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #2F2D29;
}

.product._box p {
  margin: 0;
}

.storage {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #2F2D29;
}

.data img {
  width: 18px;
  height: 18px;
  margin-right: 4px;
}

.data {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #2F2D29;
  margin-left: -10px;
}

.data p {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
}

.price {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #2F2D29;
}

.quantity {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.012em;
  color: #2F2D29;
  display: flex;
}

.quantity input._quantity {
  width: 24px;
  height: 24px;
}

._btn._max, ._btn._min {
  width: 24px;
  height: 24px;
  display: block;
  text-align: center;
  cursor: pointer;
}

.basket {
  background: #FFFFFF;
  border: 1px solid #4192D9;
  box-sizing: border-box;
  border-radius: 4px;
  width: 60px;
  height: 44px;
}
.status {
  display: flex;
  align-items: center;
}

li._item:nth-child(5) {
  margin-right: 21%;
}

.tab-header .color {
  background: none;
}

.row-storage {
  justify-content: space-between;
}

.product._box.row.tab-header{
  background: #FFFFFF;
  border-radius: 4px;
  border: none;
  .preview {
    height: 0;
  }
}

.product._box.row.tab-header p {
  text-align: left;
}

.color.false {
  background: #FF7272;
}

.collapse-linck {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  padding: 10px 24px;
  border-bottom: 1px solid #E9E9E9;
  &:not([href]){
    color: #2F2D29;
    cursor: pointer;
  }
  &:not([href]):hover {
    color: #4192D9;
    .arrow-dropdown {
      border-top: 1px solid #4192D9;
      border-right: 1px solid #4192D9;
    }
  }
  .arrow-dropdown {
    margin: 0;
    margin-left: auto;
    margin-right: 10px;
  }
}
.collapse{
  padding: 10px 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #2F2D29;
}

#price{
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  input[type="text"] {
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 4px;
    width: 84px;
    height: 40px;
  }
  .rel {
    width: 90%;
    input.multirange.original.switched{
      width: 90%;
    }
  }
}

.row-btn {
  margin: 24px 0;
}

button.btn._main {
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

button.btn._main.__empty {
  background: #FFFFFF;
  border: 1px solid #4192D9;
  box-sizing: border-box;
  border-radius: 4px;
  color: #4192D9;
}

.list.col-lg-12.row {
  margin-left: 15px;
}

.filter {
  box-shadow: 0px 0px 8px rgba(188, 213, 235, 0.5), 0px 0px 8px rgba(188, 213, 235, 0.5);
  border-radius: 4px 4px 0px 0px;
  padding: 0;
  .my-p{
    padding: 10px 25px;
  }
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    input[type="search"] {
      background: #FFFFFF;
      border: 1px solid #E9E9E9;
      box-sizing: border-box;
      border-radius: 4px;
      width: 246px;
      height: 40px;
      margin: 10px 0;
    }
  }
  ._title{
    border-bottom: 1px solid #E9E9E9;
     h4 {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      color: #2F2D29;
      text-align: center;
      padding: 20px 0;
    }
  }
  .item.row {
    align-items: center;
    justify-content: space-around;
    img.item-ico {
      height: 12px;
      }
    label p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.012em;
      color: #2F2D29;
    }
  }
  .item.row.have {
    justify-content: start;
    align-items: baseline;
    padding-left: 15px;
  }
}

div#volume {
  overflow-y: scroll;
  overscroll-behavior-inline: none;
  width: 100%;
  height: 220px;
  &::-webkit-scrollbar-track
  {
    -webkit-box-shadow: #4192D9;
    border-radius: 8px;
    border: 1px solid #4192D9;
    background-color: #FFFFFF;
  }

  &::-webkit-scrollbar
  {
    width: 12px;
    background-color: #FFFFFF;
  }

  &::-webkit-scrollbar-thumb
  {
    border-radius: 8px;
    border: 1px solid #4192D9;
    -webkit-box-shadow: #4192D9;
    background-color: #4192D9;
  }
}

.btn-list {
  display: flex;
}

.pagination{
  margin: 30px 0;
  margin-top: 15px;
  ._title {
    margin-right: 15px;
    margin-left: 15px;
  }
  div{
    align-items: center;
  }
  p{
    margin: 0;
  }
  a.btn._main {
    color: #2F2D29;
    background: #FFFFFF;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
  a.btn._main.active{
    background: #4192D9;
    color: #FFFFFF;
  }
}
#product{
  section{
    .front-img{
      width: 407px;
      height: 400px;
      margin: auto;
    }
    .min-img{
      width: 124px;
      height: 116px;
      margin: auto;
    }
  }
}
#breadcrumbs{
  margin: 18px 0;
}
#cart{
  padding: 0 65px;
  p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #2F2D29;
    margin: 0;
  }
  .total {
    margin: 24px 0;
    p {
      margin-left: auto;
      span {
        margin-left: 17px;
      }
    }
  }
  .btn-row {
    button {
      margin: 0 20px 0 0;
      font-size: 14px;
      line-height: 16px;
      color: #FFFFFF;
      width: 100%;
    }
  }
  .cart-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #2F2D29;
    margin: 24px 0;
  }
  .row-sort-hader {
    background: #FFFFFF;
    border: 0.5px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 4px;
    align-content: center;
    align-items: baseline;
    text-align: left;
    padding: 9px 0;
    .total-price {
      padding-right: 60px;
    }
  }
  .product-item {
    align-items: center;
    background: #FFFFFF;
    border: 0.5px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 8px;

    .delete {
      margin-left: 26px;
      margin-right: 18px;
      cursor: pointer;
    }
  }
  .checkbox-and-nomber {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    p {
      margin-left: 16px;
    }
  }
  .preview {
    img {
      height: 85px;
    }
    .preview_title {
      padding: 13px 0 13px 13px;
      a {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.012em;
        color: #4192D9;
      }
    }
  }
  .preview.no-gutters {
    padding: 0;
  }
  
  .data {
    .storage {
      display: none;
    }
    p{
      max-width: 100px;
    }
  }

  .__border {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 0.5px solid rgba(188, 213, 235, 0.5);
  }

  .recommended {
    background: #FFFFFF;
    border: 0.5px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 21px;
    h2 {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 24px;
      color: #2F2D29;

    }
    .product-item{
      padding-right: 8px;
      padding-bottom: 8px;
      border: 0.5px solid #E9E9E9;
      box-sizing: border-box;
      border-radius: 4px;
    }
    
    .preview {
      width: auto;
      align-items: center;
      img {
        height: 30px;
      }
      .preview_title{
        a {
          font-size: 12px;
          line-height: 14px;
          color: #2F2D29;
        }
      }
      .article{
        p{
          font-weight: 300;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.012em;
          color: #2F2D29;
        }
      }
    }
    .price {
      margin-right: 8px;
      p {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #4192D9;
      }
    }
    .basket {
      display: flex;
      width: auto;
      padding: 1px 8px;
      align-items: center;
      width: 88px;
      height: 40px;
      cursor: pointer;
      
      p {
        font-size: 10px;
        line-height: 12px;
        color: #4192D9
      }
    }
    .quantity{
      margin-right: 8px;
      margin-left: auto;
    }
  }
}
#order {
  padding: 0 65px;
  p {
    margin: 0;
  }
  .line-2, .line-3 {
    margin-top: 44px;
  }
  .line-4, .line-5, .line-6, .line-7, .line-8 {
    margin-top: 24px;
  }
  .box-ordre{
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    min-height: 1100px;
    padding-top: 33px;
  }
  input {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.012em;
    color: #2F2D29;
    &::placeholder{
      font-family: Roboto;
      font-style: normal;
      font-weight: 200;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.012em;
      color: #2F2D29;
    }
  }
  button.btn._main {
    max-width: 293px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: auto;
  }
  button.btn._main._empty {
    background: #FFFFFF;
    border: 1px solid #4192D9;
    box-sizing: border-box;
    border-radius: 4px;
    color: #4192D9;
  }
  .order_items {
    width: 100%;
    p, label {
      text-align: right;
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.012em;
      color: #2F2D29;
    }
    .data {
      input {
        padding: 10px 0;
        margin-right: 44px;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.012em;
        color: #4192D9;
        background: $dop;
        text-align: center;
        border: 1px solid #E9E9E9;
        box-sizing: border-box;
        margin-left: 10px;
        width: 113px;
      }
      p {
        margin-right: 24px;
      }
      select {
        background: #FFFFFF;
        border: 1px solid #E9E9E9;
        box-sizing: border-box;
      }
    }
    textarea, input {
      padding: 11px;
      border: 1px solid #E9E9E9;
      box-sizing: border-box;
      width: 100%;
      min-height: 44px;
    }
  }
  .line-3 {
    width: auto;
    padding-left: 120px;
  }
  .order-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #2F2D29;
    margin: 24px 0;
  }
  .radio {
    input[type="radio"] {
      position: absolute;
      opacity: 0;
      + .radio-label {
        &:before {
          content: '';
          background: $dop;
          border-radius: 100%;
          border: 2px solid $main;
          display: inline-block;
          width: 20px;
          height: 20px;
          position: relative;
          top: 0;
          margin-right: 1em; 
          vertical-align: top;
          cursor: pointer;
          text-align: center;
          transition: all 250ms ease;
        }
      }
      &:checked {
        + .radio-label {
          &:before {
            background-color: $main;
            box-shadow: inset 0 0 0 4px $dop;
          }
        }
      }
      &:focus {
        + .radio-label {
          &:before {
            outline: none;
            border-color: $main;
          }
        }
      }
      &:disabled {
        + .radio-label {
          &:before {
            box-shadow: inset 0 0 0 4px $dop;
            border-color: darken($dop, 25%);
            background: darken($dop, 25%);
          }
        }
      }
      + .radio-label {
        &:empty {
          &:before {
            margin-right: 0;
          }
        }
      }
    }
  }
}
.personal {
  a.ur {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #4192D9;
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }
  .title {
    margin-bottom: 80px;
    a {
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      background: linear-gradient(180deg, #4192D9 0%, #157ABB 100%);
      border: none;
      box-shadow: none;
      font-size: 18px;
      line-height: 21px;
      padding: 10px 30px;
      display: flex;
      align-items: center;
    }
    ._empty {
      background: #FFFFFF;
      border: 1px solid #4192D9;
      box-sizing: border-box;
      color: #4192D9;
    }
  }
  .btn._main._empty {
    margin-right: 45px;
  }
  h5 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.012em;
    color: #2F2D29;
    margin-top: 60px;
  }
  .box-radio {
    padding-left: 10px;
  }
  .order_items {
    margin-top: 25px;
  }
  .radio{
    margin-bottom: 15px;
  }
  .pen {
    display: none;
    position: absolute;
    top: 0;
    right: 20px;
  }
  input, textarea {
    border: none !important;
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.012em;
    &:focus, .pen {
      outline: none;
      background: #FFFFFF;
      box-shadow: 0px 4px 4px #F6F6F6;
    }
    &:focus + .pen {
      display: block;
    }
  }
}
.p-lg-0 {
  padding: 0;
}
.frame-auth {
  display: none;
  position: absolute;
  z-index: 5000;
  width: 407px;
  min-height: 408px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 8px rgba(188, 213, 235, 0.5), 0px 8px 24px rgba(188, 213, 235, 0.5);
  box-shadow: 0px 0px 8px rgba(188, 213, 235, 0.5), 0px 8px 24px rgba(188, 213, 235, 0.5);
  border-radius: 4px;
  right: 65px;
  .register, .registor.ur {
    display: none;
    button {
      min-width: 144px;
      margin-left: 27px;
    }
    .info {
      p {
        margin: 0;
        margin-top: 18px;
        width: 340px;
        padding-left: 27px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        display: flex;
        align-items: center;
        letter-spacing: 0.012em;
        color: #000000;
      }
    }
    .box.reg {
      button {
        width: 234px !important;
        margin: 0;
      }
    }
    .box.checkbox{
      label {
        display: flex;
        width: 250px;
        p {
          margin: 0;
        }
        &:hover {
          text-decoration: none;
        }
        span{
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
          padding-left: 5px;
          font-family: Roboto;
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0.012em;
          color: #4192D9;
        }
      }
    }
  }
  .login {
    display: block;
  }
  .registor.ur {
    display: none;
  }
  .error {
    padding-left: 27px;
    color: #FF7272;
    padding-top: 10px;
    opacity: 0;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    p {
      margin: 0;
    }
  }
  h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    color: #2F2D29;
    padding: 26px 27px;
    padding-bottom: 0;
    margin-bottom: -10px;
  }
  button {
    width: 100px !important;
  }
  form {
    padding: 27px;
    label {
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      color: #2F2D29;
      width: 100%;
    }
    input, textarea {
      border: none !important;
      position: relative;
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.012em;
      width: 267px;
      height: 40px;
      background: #FCFCFC;
      padding-left: 10px;
      &::placeholder {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #C4C4C4;
      }
      &:focus, .pen {
        outline: none;
        background: #FCFCFC;
        box-shadow: 0px 4px 4px #F6F6F6;
      }
      &:focus + .pen {
        display: block;
      }
    }
    .box {
      margin-bottom: 24px;
      a {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #2F2D29;
        padding-left: 18px;
        width: 0;
      }
    }
    .checkbox {
      label {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #2F2D29;
        margin: 0;
        padding-left: 18px;
      }
      input {
        width: 14px;
        height: 14px;
        background: #FFFFFF;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
      }
    }
    .box.login {
      a {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        color: #4192D9
      }
    }
  }
}

@media only screen and (max-width : 760px){
  .p-lg-0 {
    padding: initial;
  }
  
  .personal {
    padding: 15px !important;
    button.btn._main {
      padding: 8px 41px;
      height: 44px;
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      width: 160px;
    }
    .title {
      a, button.btn._main {
        padding: 8px 41px;
        height: 44px;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        width: 160px;
      }
      ._empty {
      }
    }
    h5 {
      font-weight: 300;
      font-size: 14px;
      line-height: 14px;
    }
    p {
      font-weight: 300;
      font-size: 10px !important;
      line-height: 12px !important;
    }
    .box-radio {
    }
    .order_items {
    }
    .radio{
      margin-bottom: 10px;
    }
    input, textarea {
    }
  }
  #order {
    padding: 0 15px;
    padding-right: 0;
    h1 {
      font-size: 18px !important;
      line-height: 21px !important;
    }
    textarea {
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.012em;
      padding: 13px !important;
    }
    input {
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.012em;
      padding: 13px !important;
      &::placeholder{
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.012em;
      }
    }
    .order_items {
      width: 100%;
      padding: 0;
      align-items: center;
      .data input {
        padding: 13px 10px;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.012em;

      }
      .col-8 {
        padding-right: 0;
      }
      p {
        text-align: right;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
      }
    }
    .line-3 {
      padding: 0;
      padding-left: 15px;
    }
    .box-ordre {
      border: none;
    }
    .p-sm-0 {
      padding: 0;
    }
    p {
      text-align: right;
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
    }
    .radio {
      label {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
  #breadcrumbs {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    margin-top: 18px;
    a {
      font-size: 12px;
      line-height: 18px;
    }
  }
  #cart {
    padding: 0 16px;
    .cart-title {
      font-size: 18px;
      line-height: 21px;
      margin: 18px 0;
    }
    .row-sort-hader{
      p {
        font-size: 8px;
        line-height: 9px;
      }
      .number {
        display: none;
        }
        .preview {
        display: none;
        }
        .storage {
        display: none;
        }
    }
    .price {
      display: none;
    }
    .checkbox-and-nomber {
      align-items: center;
      margin-top: 10px;
      input {
        width: 18px;
        height: 18px;
      }
    }
    .preview {
      width: auto;
      align-items: center;
      img {
        display: none;
      }
      .preview_title{
        a {
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.012em;
        }
      }
    }
    p {
      font-weight: 300;
      font-size: 9px;
      line-height: 11px;
    }
    .storage {
      display: none;
    }
    .data {
      .storage {
        display: block;
      }
      p {
        text-align: left;
        max-width: 60px;
      }
    }
    .btn-row {
      flex-wrap: wrap;
      button {
        height: 44px;
        padding: 8px 22px;
        margin-right: 4px;
        margin-bottom: 8px;
        width: 160px;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
      }
    }
    .recommended {
      margin-top: 25px;
      .product-item {
        &:hover, &:focus {
          background: #FFFFFF;
          border: 0.5px solid #E9E9E9;
          box-sizing: border-box;
          box-shadow: 0px 8px 24px rgba(188, 213, 235, 0.5), 0px 0px 8px rgba(188, 213, 235, 0.5);
          border-radius: 4px;
        }
      }
      .preview {
        width: auto;
        align-items: center;
        .preview_title {
          padding-top: 11px;
        }
        img {
          padding-top: 19px;
          display: block;
          height: 60px;
        }
      }
      .price {
        display: block;
      }
      .basket {
      }
    }
  }
}
#user-info {
  span {
    display: flex;
    align-items: center;
    p {
      margin: 0;
      margin-left: 8px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #2F2D29;
    }
  }
  .contract {
    padding: 13px 30px;
  }
  .line__user-info_centered {
    display: flex;
    align-content: center;
    align-items: center;
  }
  .line__user-info {
    justify-content: space-evenly;
    padding: 13px 0;
    & > span:nth-child(1) {
      margin-left: -40px;
    }
    & > span:last-child {
      margin-right: 20px;
    }
  }
}
#front {
  padding: 0 35px;

  section.brand {

    margin-bottom: 60px;

    h2 {
      margin-top: 50px;
      margin-bottom: 44px;
    }
  }

  section.news {

    .news_card {
      &:hover {
        text-decoration: none;
      }
    }

    h2 {
      margin-bottom: 44px;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #2F2D29;
    }

    .date p {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      color: #4192D9;
    }

    h5 {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      color: #2F2D29;
      margin-left: 44px;
      text-decoration: underline;
    }
  }

  section.discounts {

    h2 {
      margin-bottom: 44px;
    }
  }

  .small_card {
    background: #FFFFFF;
    border: 0.5px solid #F6F6F6;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 18px 35px;
    filter: drop-shadow(0px 0px 8px rgba(188, 213, 235, 0.5));
    -webkit-filter: drop-shadow(0px 0px 8px rgba(188, 213, 235, 0.5));
    margin-bottom: 44px;

    img {
      width: 100%;
    }

    .small_card_title {
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
      color: #2F2D29;
    }

    p {
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.012em;
      color: #2F2D29;
    }

    .small_card_price p {
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 28px;
      color: #2F2D29;
    }
  }

  section.popular {
    margin-top: 44px;

    h2 {
      margin-bottom: 33px;
    }
    
    .front_card._main {
      display: block;

      h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: #4192D9;
        margin-bottom: 35px;
      }
    }

    .front_card {
      display: flex;
      width: 100%;
      justify-content: space-around;
      margin-bottom: 44px;
    }

    h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      color: #4192D9;
    } 
  }

  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #2F2D29;
  }

  .slider-title {
    margin-top: 44px;
    margin-bottom: 25px;
  }

  .slide_group {
    margin-left: auto;

    button {
      background: #4192D9;
      border-radius: 4px;
      border: none;
      color: #FFFFFF;
      padding: 10px 15px;
      height: 40px;
      width: 40px;
      padding: 0;
      margin-left: 18px;

      svg {
        margin-top: -5px;
      }
    }
  }

  .slider {
    background: url("/assets/img/banner_1.png");
    background-size: cover;
    height: 480px;
    width: 100%;

    h2 {
      font-size: 99px;
      padding: 50px 75px;
      text-transform: uppercase;
      font-weight: bold;
      color: #fff;
      display: none;
    }

    button {
      position: absolute;
      bottom: 81px;
      left: 84px;
      background: #FFFFFF;
      border-radius: 4px;
      overflow: hidden;
      border: none;
      padding: 9px 22px;
      color: #4192D9;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
    }
  }

}

@media only screen and (max-width : 360px){

  #front {
    padding: 0;
  }
  #front .slider-title {
    display: none;
  }
  .slider_box {
    margin-left: -15px;
    margin-right: -15px;
  }
  #user-info {
    display: none;
  }
  .popular {
    display: none;
  }
  #front .slide_group {
    display: none;
  }
  #front section.brand {
    display: none;
  }
  #front section.news {
    display: none;
  }

  ul.nav {
    display: none;
  }
  .nav._footer{
    .catalog._box{
      width: 200px;
    }
  }
  .logo {
    width: 121px;
    height: 36px;
  }
  .tel .btn._main{
    background: linear-gradient(180deg, #4192D9 0%, #157ABB 100%);
    border-radius: 4px;
    width: 44px;
    height: 44px;
  }
}